#s-2b4d8da0-50e2-4551-9790-7a05236ee670 > #backgroundBox {
  position: absolute;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 > #alignmentBox {
  position: relative;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Image_1 {
  position: absolute;
  width: 66.94732560117899px;
  height: 66.94732560117895px;
  opacity: 0.5;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_2 {
  position: absolute;
  width: 217.38000488281227px;
  min-height: 54.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_2 > .borderLayer {
  border-top-width: 3.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 3.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 3.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 3.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Panel_1 {
  width: 1366.0000000000005px;
  height: 622.1999999999996px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_1 {
  position: absolute;
  width: 1366.0px;
  min-height: 622.2000000000005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #BEF0EF;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_2 {
  position: absolute;
  width: 356.4140014648448px;
  min-height: 94.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_2 > .borderLayer {
  border-top-width: 4.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_4 {
  position: absolute;
  width: 333.41400146484466px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_5 {
  position: absolute;
  width: 364.24200439453216px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_5 > .backgroundLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_5 > .backgroundLayer > .colorLayer {
  background-color: #FEECC8;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_5 > .borderLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_5 > .backgroundLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_6 {
  position: absolute;
  width: 364.24200439453205px;
  min-height: 180.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_4 {
  position: absolute;
  width: 145.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #0A84FF;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_4 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_19 {
  position: absolute;
  width: 364.24200439453216px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_19 > .backgroundLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_19 > .backgroundLayer > .colorLayer {
  background-color: #C8FEC9;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_19 > .borderLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_19 > .backgroundLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_19 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_19 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_19 span#rtr-s-Paragraph_19_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_20 {
  position: absolute;
  width: 364.24200439453216px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_20 > .backgroundLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_20 > .backgroundLayer > .colorLayer {
  background-color: #C8FEC9;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_20 > .borderLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_20 > .backgroundLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_20 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Image_8 {
  position: absolute;
  width: 212.0px;
  height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Image_9 {
  position: absolute;
  width: 160.9999999999999px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Image_10 {
  position: absolute;
  width: 209.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_21 {
  position: absolute;
  width: 238.12100219726597px;
  min-height: 49.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_21 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_22 {
  position: absolute;
  width: 261.1210021972661px;
  min-height: 49.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_22 .valign {
  vertical-align: top;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_22 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_23 {
  position: absolute;
  width: 364.24200439453205px;
  min-height: 180.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_23 .valign {
  vertical-align: top;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_23 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_23 span#rtr-s-Paragraph_23_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Image_11 {
  position: absolute;
  width: 151.0px;
  height: 102.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_24 {
  position: absolute;
  width: 234.85350036621026px;
  min-height: 49.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_24 .valign {
  vertical-align: top;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_24 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_24 span#rtr-s-Paragraph_24_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_25 {
  position: absolute;
  width: 243.5605010986335px;
  min-height: 55.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_25 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_25 .valign {
  vertical-align: top;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_25 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_25 span#rtr-s-Paragraph_25_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_25 span#rtr-s-Paragraph_25_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 19.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Line_1 {
  position: absolute;
  width: 4.309839248657227px;
  height: 31.224124908447266px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Path_1 {
  position: absolute;
  width: 4.499588489532471px;
  height: 31.242996215820312px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Line_2 marker {
  fill: #000000;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Line_2 {
  position: absolute;
  width: 105.81044198523749px;
  height: 9.0px;
  -webkit-transform: rotate(0.16606326087570844deg);
  -moz-transform: rotate(0.16606326087570844deg);
  transform: rotate(0.16606326087570844deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Line_2 {
  width: 105.81044198523749px;
  height: 9.0px;
  stroke-width: 3.0px;
  stroke: #000000;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Line_3 marker {
  fill: #000000;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Line_3 {
  position: absolute;
  width: 107.2033766809918px;
  height: 9.0px;
  -webkit-transform: rotate(-180.0deg);
  -moz-transform: rotate(-180.0deg);
  transform: rotate(-180.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Line_3 {
  width: 107.2033766809918px;
  height: 9.0px;
  stroke-width: 3.0px;
  stroke: #000000;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Image_5 {
  position: absolute;
  width: 80.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Image_6 {
  position: absolute;
  width: 80.0px;
  height: 73.95348837209302px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Panel_2 {
  width: 1366.0000000000005px;
  height: 622.1999999999996px;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_3 {
  position: absolute;
  width: 1366.0px;
  min-height: 622.2000000000005px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #BEF0EF;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_4 {
  position: absolute;
  width: 356.4140014648448px;
  min-height: 94.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_4 > .borderLayer {
  border-top-width: 4.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 4.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 4.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 4.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_8 {
  position: absolute;
  width: 333.41400146484466px;
  min-height: 35.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_3 {
  position: absolute;
  width: 145.0px;
  min-height: 50.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #0A84FF;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_3 > .borderLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 10.0px;
  border-top-right-radius: 10.0px;
  border-bottom-right-radius: 10.0px;
  border-bottom-left-radius: 10.0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_7 {
  position: absolute;
  width: 364.24200439453216px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_7 > .backgroundLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_7 > .backgroundLayer > .colorLayer {
  background-color: #FEECC8;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_7 > .borderLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_7 > .backgroundLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_26 {
  position: absolute;
  width: 364.24200439453216px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_26 > .backgroundLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_26 > .backgroundLayer > .colorLayer {
  background-color: #C8FEC9;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_26 > .borderLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_26 > .backgroundLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_26 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_26 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_26 span#rtr-s-Paragraph_26_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_27 {
  position: absolute;
  width: 364.24200439453216px;
  min-height: 58.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_27 > .backgroundLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_27 > .backgroundLayer > .colorLayer {
  background-color: #C8FEC9;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_27 > .borderLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_27 > .backgroundLayer {
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  border-bottom-right-radius: 12.5px;
  border-bottom-left-radius: 12.5px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_27 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_27 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_27 span#rtr-s-Paragraph_27_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Path_2 {
  position: absolute;
  width: 4.309839248657227px;
  height: 31.224124908447266px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Path_3 {
  position: absolute;
  width: 4.499588489532471px;
  height: 31.242996215820312px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Line_4 marker {
  fill: #000000;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Line_4 {
  position: absolute;
  width: 105.81044198523749px;
  height: 9.0px;
  -webkit-transform: rotate(0.16606326087570844deg);
  -moz-transform: rotate(0.16606326087570844deg);
  transform: rotate(0.16606326087570844deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Line_4 {
  width: 105.81044198523749px;
  height: 9.0px;
  stroke-width: 3.0px;
  stroke: #000000;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Line_5 marker {
  fill: #000000;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Line_5 {
  position: absolute;
  width: 107.2033766809918px;
  height: 9.0px;
  -webkit-transform: rotate(-180.0deg);
  -moz-transform: rotate(-180.0deg);
  transform: rotate(-180.0deg);
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Line_5 {
  width: 107.2033766809918px;
  height: 9.0px;
  stroke-width: 3.0px;
  stroke: #000000;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_28 {
  position: absolute;
  width: 153.45312499999898px;
  min-height: 24.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_28 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_28 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_28 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_28 span#rtr-s-Paragraph_28_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_30 {
  position: absolute;
  width: 180.72656249999943px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_30 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_30 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_30 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_30 span#rtr-s-Paragraph_30_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_9 {
  position: absolute;
  width: 364.242004394531px;
  min-height: 225.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Image_2 {
  position: absolute;
  width: 215.0px;
  height: 103.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_10 {
  position: absolute;
  width: 415.2420043945309px;
  min-height: 225.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Image_3 {
  position: absolute;
  width: 209.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: multiply;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'OpenSans-Bold_wgt700',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Ellipse_1 {
  width: 60.0px;
  height: 60.0px;
  min-height: 60.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #CECECE;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Ellipse_1 span {
  color: #F2F2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 11.0pt;
  line-height: 21px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #F2F2F2;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 11.0pt;
  line-height: 21px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Image_4 {
  position: absolute;
  width: 27.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Image_7 {
  position: absolute;
  width: 80.0px;
  height: 80.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Image_12 {
  position: absolute;
  width: 80.0px;
  height: 73.95348837209302px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_5 {
  position: absolute;
  width: 487.9999999999999px;
  min-height: 88.00000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #FB8C00;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_5 > .borderLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_5 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_11 {
  position: absolute;
  width: 90.84570312500006px;
  min-height: 48.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_11 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Path_4 {
  position: absolute;
  width: 22.308570861816406px;
  height: 17.600000381469727px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 22.5pt;
  font-style: normal;
  font-weight: 700;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2b4d8da0-50e2-4551-9790-7a05236ee670 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}