#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 > #backgroundBox {
  background-color: #FBF8F8;
  position: absolute;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 > #alignmentBox {
  position: relative;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Rectangle_1 {
  position: absolute;
  width: 1365.9999999999998px;
  min-height: 768.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #BEF0EF;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_2 {
  position: absolute;
  width: 214.6005859375px;
  min-height: 61.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 34.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 34.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Dynamic_Panel_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_1 {
  width: 424.00000000000034px;
  height: 672.9999999999998px;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_1 > .backgroundLayer {
  border-top-left-radius: 50.0px;
  border-top-right-radius: 50.0px;
  border-bottom-right-radius: 50.0px;
  border-bottom-left-radius: 50.0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_1 > .backgroundLayer > .colorLayer {
  background-color: #B31642;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_1 > .borderLayer {
  border-top-left-radius: 50.0px;
  border-top-right-radius: 50.0px;
  border-bottom-right-radius: 50.0px;
  border-bottom-left-radius: 50.0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_1 > .backgroundLayer {
  border-top-left-radius: 50.0px;
  border-top-right-radius: 50.0px;
  border-bottom-right-radius: 50.0px;
  border-bottom-left-radius: 50.0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_1 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_1 {
  position: absolute;
  width: 129.08000183105503px;
  min-height: 13.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  font-family: 'Avenir Next',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #FFFFFF;
  text-decoration: underline;
  font-family: 'Avenir Next',Arial;
  font-size: 7.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_1 {
  position: absolute;
  width: 299.9999999999999px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  saturate(200.0%) drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 16.99999999999997px;
  border-top-right-radius: 16.99999999999997px;
  border-bottom-right-radius: 16.99999999999997px;
  border-bottom-left-radius: 16.99999999999997px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #2E5577;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 16.99999999999997px;
  border-top-right-radius: 16.99999999999997px;
  border-bottom-right-radius: 16.99999999999997px;
  border-bottom-left-radius: 16.99999999999997px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 16.99999999999997px;
  border-top-right-radius: 16.99999999999997px;
  border-bottom-right-radius: 16.99999999999997px;
  border-bottom-left-radius: 16.99999999999997px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_1 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_6 {
  position: absolute;
  width: 299.9999999999999px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  saturate(200.0%) drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 16.99999999999997px;
  border-top-right-radius: 16.99999999999997px;
  border-bottom-right-radius: 16.99999999999997px;
  border-bottom-left-radius: 16.99999999999997px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: #974848;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 16.99999999999997px;
  border-top-right-radius: 16.99999999999997px;
  border-bottom-right-radius: 16.99999999999997px;
  border-bottom-left-radius: 16.99999999999997px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 16.99999999999997px;
  border-top-right-radius: 16.99999999999997px;
  border-bottom-right-radius: 16.99999999999997px;
  border-bottom-left-radius: 16.99999999999997px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_3 {
  position: absolute;
  width: 424.0px;
  min-height: 21.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Image {
  position: absolute;
  width: 29.0px;
  height: 26.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  saturate(200.0%);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Image > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_7 input::-webkit-input-placeholder {
  color: #8E8B8B;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_7 input::-moz-placeholder {
  color: #8E8B8B;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_7 input:-moz-placeholder {
  color: #8E8B8B;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_7 input:-ms-input-placeholder {
  color: #8E8B8B;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_7 {
  position: absolute;
  width: 300.0000000000001px;
  height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_7 .valign {
  vertical-align: middle;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_7 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_7 > .backgroundLayer > .colorLayer {
  background-color: #D6D6D6;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_4 {
  position: absolute;
  width: 424.00000000000045px;
  min-height: 32.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Path_20 {
  position: absolute;
  width: 21.0px;
  height: 20.843061447143555px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Path_21 {
  position: absolute;
  width: 8.982421875px;
  height: 16.874313354492188px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_2 {
  position: absolute;
  width: 184.0px;
  min-height: 61.369173364878634px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #D6D6D6;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_6 {
  position: absolute;
  width: 424.00000000000034px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: center;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 15.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 15.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_7 {
  position: absolute;
  width: 424.00000000000034px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_7 span {
  color: #F10000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 15.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #F10000;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 15.75pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_3 {
  position: absolute;
  width: 299.9999999999999px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter:  saturate(200.0%) drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 16.99999999999997px;
  border-top-right-radius: 16.99999999999997px;
  border-bottom-right-radius: 16.99999999999997px;
  border-bottom-left-radius: 16.99999999999997px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
  border-top-left-radius: 16.99999999999997px;
  border-top-right-radius: 16.99999999999997px;
  border-bottom-right-radius: 16.99999999999997px;
  border-bottom-left-radius: 16.99999999999997px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 16.99999999999997px;
  border-top-right-radius: 16.99999999999997px;
  border-bottom-right-radius: 16.99999999999997px;
  border-bottom-left-radius: 16.99999999999997px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Image_1 {
  position: absolute;
  width: 30.0px;
  height: 30.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_9 {
  position: absolute;
  width: 424.0000000000002px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: center;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_9 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.75pt;
  font-style: normal;
  font-weight: 700;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.75pt;
  font-style: normal;
  font-weight: 700;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_2 {
  width: 424.0px;
  height: 673.0px;
  filter:  drop-shadow(7.071067811865475px 7.0710678118654755px 5px #404040);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_2 > .backgroundLayer {
  border-top-left-radius: 50.0px;
  border-top-right-radius: 50.0px;
  border-bottom-right-radius: 50.0px;
  border-bottom-left-radius: 50.0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_2 > .backgroundLayer > .colorLayer {
  background-color: #B31642;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_2 > .borderLayer {
  border-top-left-radius: 50.0px;
  border-top-right-radius: 50.0px;
  border-bottom-right-radius: 50.0px;
  border-bottom-left-radius: 50.0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_2 > .backgroundLayer {
  border-top-left-radius: 50.0px;
  border-top-right-radius: 50.0px;
  border-bottom-right-radius: 50.0px;
  border-bottom-left-radius: 50.0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_2 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_2 > .borderLayer > .layoutWrapper {
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_8 {
  position: absolute;
  width: 424.00000000000034px;
  min-height: 32.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next LT Pro',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: center;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_8 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.75pt;
  font-style: normal;
  font-weight: 700;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Avenir Next LT Pro',Arial;
  font-size: 15.75pt;
  font-style: normal;
  font-weight: 700;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_1 input::-webkit-input-placeholder {
  color: #8E8B8B;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_1 input::-moz-placeholder {
  color: #8E8B8B;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_1 input:-moz-placeholder {
  color: #8E8B8B;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_1 input:-ms-input-placeholder {
  color: #8E8B8B;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_1 {
  position: absolute;
  width: 300.0000000000001px;
  height: 38.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_1 .valign {
  vertical-align: middle;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_1 input {
  color: #1E192B;
  text-align: left;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.25px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #D6D6D6;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Input_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 15px;
  padding-bottom: 0px;
  padding-left: 15px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Image_3 {
  position: absolute;
  width: 64.0px;
  height: 63.99999999999999px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_4 {
  position: absolute;
  width: 184.0px;
  min-height: 61.37px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Avenir Next',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_4 > .backgroundLayer > .colorLayer {
  background-color: #D6D6D6;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #D6D6D6;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #D6D6D6;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #D6D6D6;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #D6D6D6;
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_4 > .backgroundLayer {
  border-top-left-radius: 22.0px;
  border-top-right-radius: 22.0px;
  border-bottom-right-radius: 22.0px;
  border-bottom-left-radius: 22.0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Avenir Next',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Path_17 {
  position: absolute;
  width: 32.903770446777344px;
  height: 34.900020599365234px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Path_19 {
  position: absolute;
  width: 16.895828247070312px;
  height: 17.92444610595703px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Circle_5 {
  position: absolute;
  width: 3.943328857421875px;
  height: 4.202049255371094px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Path_13 {
  position: absolute;
  width: 47.20000076293945px;
  height: 34.936668395996094px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Image_2 {
  position: absolute;
  width: 535.9473256011794px;
  height: 535.9473256011786px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'OpenSans-Bold_wgt700',Arial;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Ellipse_1 {
  width: 60.0px;
  height: 60.0px;
  min-height: 60.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 4.0px;
  stroke: #CECECE;
  cursor: pointer;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #shapewrapper-s-Ellipse_1 span {
  color: #F2F2F2;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 11.0pt;
  line-height: 21px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #F2F2F2;
  text-decoration: none;
  font-family: 'OpenSans-Bold_wgt700',Arial;
  font-size: 11.0pt;
  line-height: 21px;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 #s-Image_4 {
  position: absolute;
  width: 27.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-af4e7b50-4d85-4cc2-81b4-ac2572755dc0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}